# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/
dist/
.env
.env.local
.env.*.local
.env.*
!.env.example
!server/.env.example
.private-documents/
__pycache__/
.venv/
ai-models/face-recognition/dataset/
ai-models/face-recognition/images/
ai-models/face-recognition/raw_data/
ai-models/face-recognition/runs/
webcam_capture.jpg
*.pem
*.key
*.log
